* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-align: justify;
    color:#464a75;
    margin: 0; 
    padding: 0;
}   

/* hier komen alle Headings */
h1, h2, h3, li {
    font-family: 'EB Garamond', serif;
    color:#464a75;
    text-align: center;
}

/* hier komen alle semiotics*/
body {
    background-image: url('img/icoontjes/achtergrond3.png');
    background-size: 70vw;
    background-repeat: repeat;
    background-position: center top;
    background-color:#F5F5F5;
}

header {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    margin: 0em 2em 2em 2em;
    border-bottom: 1px solid #464a75;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    border-top: 1px solid #464a75;
}

#home {
    height: 100vh;
    width: 100%;
}

@keyframes slide {
    0% {
      top: 50%;
    }
    50% {
      top: 100px;
    }
    100% {
      top: 50%;
    }
  }

#home .circle{
    bottom:100%;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: 35em; /* Breedte van de cirkel */
    height: 35em; /* Hoogte van de cirkel */
    background-color: rgba(220, 222, 245, 0.97);
    border-radius: 50%;
    line-height: 20px;
    padding:10%;
    position: absolute;
}

.circle h1 {
    margin-bottom: 1em;
}

.winkel-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245, 0.97);
    width: 100vw;
    border-top: 1px solid #464a75;
    border-bottom: 1px solid #464a75;
    padding: 5%;
}

.tekst-container {
    max-width: 40vw;
    min-width: 20vw;
    margin: 0 auto; /* Centreer de container horizontaal in de viewport (optioneel) */
    padding: 3%;
}

.container {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(220, 222, 245); 
    width: 30vw;
    height: 29vw;
    padding: 0;
}

.winkel {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #cccdff;
    height: 100vh;
    width: 20vw;
    height: 50vh;
    padding: 5%;
    margin: 2%;
}

/*click ding voor de winkel*/
fieldset {
    background-color: #F5F5F5;
    border: 0px;
    margin: 5%;
    padding: 5%
}

legend {
    font-family:'EB Garamond', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

/* navigatie */
nav {
    display: flex;
    justify-content: right;
    background-color: #F5F5F5;
    color: #464a75;
    text-decoration: none;
    padding: 1em;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

a {
    font-size: 0.9em;
    padding: 1vw;
    text-decoration: none;
}

a:visited{
    background-color: #DBDBDB;
}

a:hover {
    background-color:rgba(220, 222, 245, 0.97);
    transition: all 500ms ease;
}

a:active{
    background-color:#cccdff;
}

a:focus{
    border: #464a75;
    border-radius: 0.5em;
}
/* einde nav */


img {
    max-width: 100%;
}

.cover-img {
    width: 50%;
} 

/*portfolio link hover*/
.a-portfolio {
    padding: 0px;
    transition: all 500ms ease;
}

.project img {
    transition: transform 0.3s, opacity 0.3s;
}

.project img:hover {
    transform: scale(1.01) translate(0, -30px);
    background-color: #464a75;
    opacity: 0.9;
}
