@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-align: left;
    color:#464a75;
    margin: 0; 
    padding: 0;
}   

body {
    background-image: url('img/icoontjes/achtergrond3.png');
    background-size: 70vw;
    background-repeat: repeat;
    background-position: center top;
    background-color:#F5F5F5;
}

header {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    margin: 0 2em 2em 2em;
    border-bottom: 1px solid #464a75;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 2em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    border-top: 1px solid #464a75;
    padding: 1%;
    margin: 0 2em 0 2em;
}

h1, h2, h3, li {
    font-family: 'EB Garamond', serif;
    color:#464a75;
    text-align: center;
}

nav {
    display: flex;
    justify-content: right;
    background-color: #F5F5F5;
    color: #464a75;
    text-decoration: none;
    padding: 1em;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

a {
    font-size: 0.9em;
    padding: 1vw;
    text-decoration: none;
}

a:visited{
    background-color: #DBDBDB;
}

a:hover {
    background-color:rgba(220, 222, 245, 0.97);
    transition: all 500ms ease;
}

a:active{
    background-color:#cccdff;
}

a:focus{
    border: #464a75;
    border-radius: 0.5em;
}

header h2 {
    margin-top: 0.5%;
}

img {
    max-width: 40vw;
    max-height: 20vw;
    margin: 0.1em;
}

.one-img-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

fieldset {
    background-color: #F5F5F5;
    width: 70%;
    border: 0px;
    margin: 5%;
    padding: 2%
}

.home {
    height: 100vh;
    width: 100%;
    margin: 0 2em 0 2em;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: 35em;
    height: 35em;
    min-width: 10em;
    min-height: 10em;
    background-color: rgba(220, 222, 245, 0.97);
    border-radius: 50%;
    line-height: 1.2em;
    padding:10%;
    position: absolute;
}

.circle h1 {
    margin-bottom: 1em;
}

@keyframes slide {
    0% {
      top: 50%;
    }
    50% {
      top: 100px;
    }
    100% {
      top: 50%;
    }
  }

.home .circle{
    bottom:100%;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

.langere-pagina {
    height: 100vh;
}

.achtergrond {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245, 0.97);
    width: 100vw;
    border-top: 1px solid #464a75;
    border-bottom: 1px solid #464a75;
    padding: 5%;
}

.tekst-container {
    max-width: 40vw;
    min-width: 20vw;
    padding: 3%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(220, 222, 245); 
    width: 30vw;
    height: 29vw;
    padding: 0;
}

.winkel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #cccdff;
    height: 50vh;
    width: 20vw;
    padding: 2%;
    margin: 2%;
}

.winkel img {
    margin: 1em;
    max-width: 8em;
}

.button{
    background-color: #F5F5F5;
    color: #464a75;
    text-decoration: none;
    box-shadow: 0 5px 0 #414682;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    padding: 1em 2em;
    font-size: 1em;
    margin: 0.4em 0.2em;
    cursor: pointer;
    transition: all .1s linear;
}

.button:visited{
    background-color: #6169C2;
}

.button:hover {
    background-color: #6FFFC5;
    color:#464a75;
}

.button:active {
    background-color: #54BF94 ;
    transform: translateY(3px);
    box-shadow: none;
  }

.button:focus{
    border: #54BF94;
    border-radius: 0.5em;
}

/*portfolio link hover*/
.a-portfolio {
    padding: 0px;
    transition: all 500ms ease;
}

.project img {
    transition: transform 0.3s, opacity 0.3s;
    padding: 0px;
    transition: all 500ms ease;
    max-width: 100%;
    max-height: 50%;
    margin: 0px;
}

.project img:hover {
    transform: scale(1.01) translate(0, -30px);
    background-color: #464a75;
    opacity: 0.9;
}

@media (max-width: 768px) {
    h1, h2, h3, li {
        font-family: 'EB Garamond', serif;
        color: #464a75;
        text-align: center;
        font-size: 90%;
    }

    p {
        font-size: 70%;
    }

    header h1, h2 {
        margin-top: 1em;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
        text-align: left;
        width: 15em;
        height: 15em;
        min-width: 10em;
        min-height: 10em;
        background-color: rgba(220, 222, 245, 0.97);
        border-radius: 50%;
        line-height: 1em;
        padding: 10%;
        position: absolute;
    }

    .winkel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: #cccdff;
        height: auto;
        width: 30vw;
        padding: 3%;
        margin: 2%;
    }

    .winkel img {
        max-height: 20vh;
        max-width: 6em;
    }



    .tekst-container {
        max-width: 60vw;
        min-width: 20vw;
        padding: 4%;
    }

    label {
        font-size: 0.8em;
    }

    .button{
        background-color: #F5F5F5;
        color: #464a75;
        text-decoration: none;
        box-shadow: 0 5px 0 #414682;
        border: none;
        border-radius: 0.5em;
        padding: 0.8em;
        padding: 0.8em 1.8em;
        font-size: 0.8em;
        margin: 0.4em 0.2em;
        cursor: pointer;
        transition: all .1s linear;
    }

    fieldset {
        width: 95%;
    }

    .project {
        width: 41.4688vw;
        height: auto;
    }
    
}
